<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<!-- page navigation bar ('title' for activating current subpage) -->
	<nav th:fragment="navbar(title)"
		class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}" title="Home">lyra</a>
			</div>
			<!-- /.navbar-header -->

			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav" th:with="state='active'">
					<li th:class="${title == 'browse'} ? ${state}"><a
						th:href="@{/browse}">Browse</a></li>

					<li class="dropdown"
						th:class="${title == 'places'} OR ${title == 'frequencies'} ? ${state}">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Analytics<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li th:class="${title == 'places'} ? ${state}"><a
								th:href="@{/analytics/places}">Places</a></li>
							<li th:class="${title == 'frequencies'} ? ${state}"><a
								th:href="@{/analytics/frequencies}">Frequencies</a></li>
						</ul>
					</li>
					<!-- /.dropdown -->
				</ul>
				<!-- /.nav -->

				<form class="navbar-form navbar-right" th:action="@{/search}">
					<button class="btn btn-danger">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
				</form>
			</div>
			<!-- /#navbar -->
		</div>
		<!-- /.container -->
	</nav>
</body>

</html>