<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<!-- fragments for index.html -->
<body>
	<!-- upload fragment: idle view (spinner), has to be triggered by index.js:uploadFile() -->
	<div th:fragment="upload" id="idleDialog" class="modal"
		data-backdrop="static">
		<div class="modal-dialog">
			<div class="text-center">
				<i class="fa fa-spinner fa-pulse fa-5x" style="color: #d9534f;"></i>
			</div>
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /fragment:upload -->

	<!-- evaluation fragment: requires 'places' as model attribute to be shown -->
	<div th:fragment="evaluation" th:if="${places != null}"
		id="evaluationDialog" class="modal" role="dialog"
		data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!-- ************** header ************** -->
				<div class="modal-header">
					<div class="row">
						<div th:replace="../fragments/index/overlay :: iconColumn"></div>

						<div class="col-xs-6 col-sm-4">
							<h2 class="modal-title">Evaluation</h2>
							<span>Places</span>
						</div>

						<div th:replace="../fragments/index/overlay :: iconColumn"></div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.modal-header -->

				<!-- ************** body ************** -->
				<!-- confirming this form calls IndexController.evaluation() -->
				<form th:action="@{/evaluation}" method="post">
					<div class="modal-body">
						<div class="form-group">
							<p class="text-justify">The Named Entity Recognition and
								nominatim found the following places in your lyrics. You can
								select the ones you want to keep with the checkboxes and confirm
								your decision afterwards.</p>
						</div>
						<!-- /.form-group -->

						<!-- list of all found places and the meta information by nominatim for evaluation -->
						<div th:each="place : ${places}">
							<div class="form-group">
								<div class="row" th:each="name : ${place.value}">
									<!-- place -->
									<div class="col-xs-4">
										<input type="text" class="form-control" name="placeName"
											th:value="${name}" readonly="readonly" />
									</div>

									<!-- meta -->
									<div class="col-xs-7">
										<i th:text="${place.key.getMeta()}"></i>
									</div>

									<!-- checkbox -->
									<div class="col-xs-1 text-right">
										<input class="placeCheck" type="checkbox" checked="checked" />
									</div>
								</div>
								<!-- /.row -->
							</div>
							<!-- /.form-group -->
						</div>
						<!-- /each:place -->
					</div>
					<!-- /.modal-body -->

					<!-- ************** footer ************** -->
					<div class="modal-footer">
						<button class="btn btn-danger">Confirm</button>
					</div>
					<!-- /.modal-footer -->
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /fragment:evaluation -->

	<div th:fragment="iconColumn" class="col-xs-3 col-sm-4">
		<h2>
			<b><span class="glyphicon glyphicon-globe"></span></b>
		</h2>
	</div>
	<!-- /fragment:iconColumn -->
</body>

</html>