<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:if="${upload}" id="uploadDialog" th:fragment="upload" class="modal" role="dialog"
		data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<div class="row" th:with="icon='glyphicon glyphicon-lock'">
						<div class="col-xs-4">
							<h2>
								<b><span th:class="${icon}"></span></b>
							</h2>
						</div>
						<div class="col-xs-4">
							<h2 class="modal-title">lyra</h2>
							<span>lyrics-analyzer</span>
						</div>
						<div class="col-xs-4">
							<h2>
								<b><span th:class="${icon}"></span></b>
							</h2>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.modal-header -->
				<div class="modal-body text-justify">
					<p>Welcome to lyra, a lyrics-analyzer with machine learning
						tools that helps you to get an overview of lyrics.</p>
					<p>What does lyra give?</p>
					<ul>
						<li>browsing through your corpus</li>
						<li>place name detection in lyrics</li>
						<li>visualization on a map</li>
						<li>detection of relevant words in your corpus</li>
					</ul>
					<p>What does lyra need?</p>
					<ul>
						<li>your corpus in form of an .xslx-File</li>
						<li>biographical information on the artists you want to analyze</li>
					</ul>
					<p>You can download a empty sample of the table <a href="">here</a>.</p>
					<p>In the table, each row represents a different song.<br />
						The artist column can contain as many different artists as you want to analyze.
						Instead of the artist, it can contain the song writer if you want to analyze this information.<br />
						The title column contains - of course - the title of the song.<br />
						The year column may contain the year when the song was released. 
						It may contain as well the year the song was produced or it was written and so on. That's up to you.<br />
						In the compilation column you can mark (with an "x") whether the song is part of a compilation or not.<br />
						The lyrics column contains the lyrics you want to analyze. For using the analytic tools it is important
						that the lyrics (by now) are written in English language<br />
						The comment column leaves space for you to add some comments for yourself.</p>
				</div>
				<!-- /.modal-body -->
				<div class="modal-footer">
					<div class="row">
						<div class="col-sm-8 col-xs-6 text-left">
							<span th:replace="../fragments/copyright :: copyright"></span>
						</div>
						<div class="col-sm-4 col-xs-6" id="action">
							<form th:action="@{/upload}" method="post">
								<label class="btn btn-danger" for="upload">
									<!-- <input id="upload" type="file" size="50" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/> -->
									<!-- <input id="upload" type="file" size="50" accept="text/*"/> -->
									<input id="upload" type="submit" /> 
									<span class="glyphicon glyphicon-upload"></span> Upload
								</label>
							</form>
							&nbsp;&nbsp;&nbsp; <a
								href="mailto:binnewij@smail.uni-koeln.de,%20skrause1@smail.uni-koeln.de,%20Pseipel@smail.uni-koeln.de?subject=lyra">Contact</a>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.modal-footer -->
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div th:if="${places != null}" id="evaluationDialog" th:fragment="evaluation" class="modal"
		role="dialog" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1>Evaluation of found places</h1>
				</div>
				
				<!-- /.modal-header -->
				<form th:action="@{/evaluation}" method="post">
					<div class="modal-body" >
					<p>The Named Entity Recognition and nominatim found the following places in your lyrics. You can select the ones
					you want to keep with the checkboxes and confirm you decision afterwards.</p>
						<div th:each="place : ${places}" style="background-color: #cccccc; margin-bottom: 20px;">
							<div class="row" th:each="name : ${place.value}">
								<div class="col-xs-5">
									<input type="text" class="form-control" name="placeName" th:value="${name}" readonly="readonly"/>
								</div>
								<div class="col-xs-5" th:text="${place.key.getMeta()}"></div>
								<div class="col-xs-2">
									<input class="checkTest" type="checkbox" checked="checked"/>
								</div>
							</div>
						</div>
					</div>
					<!-- /.modal-body -->
					<div class="modal-footer">
						<button class="btn btn-danger">Confirm</button>
					</div>
					<!-- /.modal-footer -->
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</body>

</html>