<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="quotes">
		<a th:href="@{/search}">
			<blockquote>
				<h5>
					<b>A Hard Rain’s A-Gonna Fall</b> (1963)
				</h5>
				<p>
					Oh, where have you been, my blue-eyed son?<br />Oh, where have you
					been, my darling young one?
				</p>
				<footer>Bob Dylan</footer>
			</blockquote>
		</a> <a th:href="@{/search}">
			<blockquote id="middleQuote">
				<h5>
					<b>Oops!... I Did It Again</b> (2000)
				</h5>
				<p>
					I think I did it again<br />I made you believe we're more than
					just friends
				</p>
				<footer>Britney Spears</footer>
			</blockquote>
		</a> <a th:href="@{/search}">
			<blockquote>
				<h5>
					<b>Early Roman Kings</b> (2012)
				</h5>
				<p>
					All the early Roman Kings in their sharkskin suits<br />Bowties
					and buttons, high top boots
				</p>
				<footer>Bob Dylan</footer>
			</blockquote>
		</a>
	</div>
</body>

</html>