<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="quotes">
		<div th:each="song,iter : ${quotes}">
			<a th:href="@{/browse/} + ${song.uuid}">
				<blockquote th:id="${iter.index == 1} ? 'middleQuote'">
					<h5>
						<b th:text="${song.title}"></b>&nbsp;(<span th:text="${song.year}"></span>)
					</h5>
					<p th:utext="${song.lyricsBR}"></p>
					<footer th:text="${song.artist}"></footer>
				</blockquote>
			</a>
		</div>
	</div>
</body>

</html>