<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="stock" class="panel panel-default">
		<!-- ************** Header ************** -->
		<div class="panel-heading noLine">
			<div class="row">
				<div class="col-xs-5 text-right">
					<a th:href="@{/browse}"> <span class="glyphicon glyphicon-user"></span>&nbsp;<span><b>5</b></span>
						<span>Artists</span>
					</a>
				</div>
				<div class="col-xs-5 col-xs-offset-2">
					<a th:href="@{/browse}"> <span
						class="glyphicon glyphicon-music"></span>&nbsp;<span><b>315</b></span>
						<span>Lyrics</span>
					</a>
				</div>
			</div>
			<!-- .row -->
		</div>
		<!-- .panel-heading -->

		<!-- ************** Bar ************** -->
		<a href="#details" data-toggle="collapse"
			title="Click for stock details">
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar"
					style="width: 60%"></div>
				<div class="progress-bar progress-bar-danger" role="progressbar"
					style="width: 20%"></div>
				<div class="progress-bar progress-bar-warning" role="progressbar"
					style="width: 10%"></div>
				<div class="progress-bar progress-bar-info" role="progressbar"
					style="width: 5%"></div>
				<div class="progress-bar" role="progressbar"
					style="width: 5%; background-color: purple"></div>
			</div> <!-- .progress -->
		</a>

		<!-- ************** Details ************** -->
		<div id="details" class="collapse">
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<tbody>
						<tr>
							<td class="col-xs-6 text-right"><a th:href="@{/search}">Bob
									Dylan</a></td>
							<td class="col-xs-6"><span class="badge"
								style="background-color: #5cb85c">200</span></td>
						</tr>
						<tr>
							<td class="col-xs-6 text-right"><a th:href="@{/search}">Neil
									Young</a></td>
							<td class="col-xs-6 "><span class="badge"
								style="background-color: #d9534f">75</span></td>
						</tr>
						<tr>
							<td class="col-xs-6 text-right"><a th:href="@{/search}">Britney
									Spears</a></td>
							<td class="col-xs-6"><span class="badge"
								style="background-color: #f0ad4e">35</span></td>
						</tr>
						<tr>
							<td class="col-xs-6 text-right"><a th:href="@{/search}">The
									Smashing Pumpkins</a></td>
							<td class="col-xs-6"><span class="badge"
								style="background-color: #5bc0de">13</span></td>
						</tr>
						<tr>
							<td class="col-xs-6 text-right"><a th:href="@{/search}">Tom
									Waits</a></td>
							<td class="col-xs-6"><span class="badge"
								style="background-color: purple">13</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- .panel-body -->
		</div>
		<!-- #details -->

		<!-- ************** Glyphicon ************** -->
		<a class="bsStyle" href="#details" data-toggle="collapse">
			<div class="text-center">
				<span id="stockCtrl" class="glyphicon glyphicon-chevron-down"></span>
			</div>
		</a>
	</div>
	<!-- .panel -->
</body>

</html>