<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="stock">
		<h3>Stock</h3>
		<hr />
		<div class="panel panel-default">
			<!-- ************** Header ************** -->
			<div class="panel-heading noLine">
				<div class="row">
					<div class="col-xs-5 text-right">
						<a th:href="@{/browse}"> <span
							class="glyphicon glyphicon-user"></span>&nbsp;<span><b
								th:text="${artistMap != null} ? ${artistMap.values().size()} : '0'"></b>
						</span> <span>Artists</span>
						</a>
					</div>
					<div class="col-xs-5 col-xs-offset-2">
						<a th:href="@{/browse}"> <span
							class="glyphicon glyphicon-music"></span>&nbsp;<span><b
								th:text="${songCount != null} ? ${songCount} : '0'"></b> </span> <span>Lyrics</span>
						</a>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.panel-heading -->

			<!-- ************** Bar ************** -->
			<a href="#details" data-toggle="collapse"
				title="Click for stock details">
				<div class="progress">
					<span th:each="percentage : ${artistMap}">
						<div th:each="artist : ${percentage.value}" class="progress-bar"
							role="progressbar"
							th:style="'width: ' + ${percentage.key} + '%; background-color: ' + ${artist.getColor()}"></div>
					</span>
				</div> <!-- /.progress -->
			</a>

			<!-- ************** Details ************** -->
			<div id="details" class="collapse">
				<div class="panel-body">
					<table class="table table-hover table-condensed">
						<tbody>
							<span th:each="percentage : ${artistMap}">
								<tr th:each="artist : ${percentage.value}">
									<td class="col-xs-6 text-right"><a
										th:href="@{/result?fieldForm=artist} + '&amp;searchForm=' + ${artist.getName()}"
										th:text="${artist.getName()}"></a></td>
									<td class="col-xs-6"><span class="badge"
										th:style="'background-color: ' + ${artist.getColor()}"
										th:text="${artist.getSongs().size()}"></span></td>
								</tr>
							</span>
							<!-- /each:percentage -->
						</tbody>
					</table>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /#details -->

			<!-- ************** Glyphicon ************** -->
			<a class="bsStyle" href="#details" data-toggle="collapse">
				<div class="text-center">
					<span id="stockCtrl" class="glyphicon glyphicon-chevron-down"></span>
				</div>
			</a>
		</div>
		<!-- /.panel -->
	</div>
	<!-- /fragment:stock -->
</body>

</html>