<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="jumbotron" class="jumbotron">
		<div class="container">
			<h1>
				<span>lyra </span> <small><b>lyr</b>ics-<b>a</b>nalyzer</small>
			</h1>
			<p>Your personal Lyrics Analyzer.</p>
		</div>
	</div>
	<!-- /fragment:jumbotron -->

	<div th:fragment="instructions">
		<h3>Instructions</h3>
		<hr />
		<p>Welcome to lyra, a lyrics-analyzer with machine learning tools
			that helps you to get an overview of lyrics.</p>
		<p>What does lyra give?</p>
		<ul>
			<li>browsing through your corpus (Browse)</li>
			<li>place name detection in lyrics</li>
			<li>visualization on a map (Places)</li>
			<li>detection of relevant words in your corpus (Frequencies)</li>
		</ul>
		<p>If the current corpus is empty or if you want to add lyrics to
			the existing corpus you can do it with the following instructions.</p>
		<p>What does lyra need?</p>
		<ul>
			<li>your corpus in form of an .xslx-File</li>
			<li>biographical information on the artists you want to analyze</li>
		</ul>
		<p>
			You can download a empty sample of the table <a th:href="@{/download}">here</a>.
		</p>
		<p>
			In the table, each row represents a different song.<br /> The artist
			column can contain as many different artists as you want to analyze.
			Instead of the artist, it can contain the song writer if you want to
			analyze this information.<br /> The title column contains - of
			course - the title of the song.<br /> The year column may contain
			the year when the song was released. It may contain as well the year
			the song was produced or it was written and so on. That's up to you.<br />
			In the compilation column you can mark (with an "x") whether the song
			is part of a compilation or not.<br /> The lyrics column contains
			the lyrics you want to analyze. For using the analytic tools it is
			important that the lyrics (by now) are written in English language<br />
			The comment column leaves space for you to add some comments for
			yourself.
		</p>
	</div>
	<!-- /fragment:instructions -->

	<div th:fragment="quotes">
		<h3>Random lyrics</h3>
		<hr />
		<p th:text="${quotes == null} ? '(No data available)'"
			class="text-center"></p>

		<div th:each="song,iter : ${quotes}">
			<a class="testStyle" th:href="@{/browse/} + ${song.uuid}">
				<blockquote th:id="${iter.index == 1} ? 'middleQuote'">
					<h5>
						<b th:text="${song.title}"></b>&nbsp;(<span th:text="${song.year}"></span>)
					</h5>
					<p th:utext="${song.lyricsBR}"></p>
					<footer th:text="${song.artist}"></footer>
				</blockquote>
			</a>
		</div>
	</div>
	<!-- /fragment:quotes -->
</body>

</html>