<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<!-- fragments for frequencies.html -->
<body>
	<!-- content fragment: column containing more fragments -->
	<div th:fragment="content(pos)" class="col-md-5 col-xs-12">
		<div class="panel panel-default">
			<div th:if="${artists != null}">
				<div
					th:replace="../fragments/freqCol :: artistSelect(${pos},${artists[pos]})"></div>
				<div th:replace="../fragments/freqCol :: tokens(${mapList[pos]})"></div>
				<div th:replace="../fragments/slider :: slider(${years[pos]})"></div>
			</div>
			<div th:if="${artists == null}">
				<div th:replace="../fragments/freqCol :: artistSelect(${pos},'')"></div>
				<div th:replace="../fragments/slider :: slider('')"></div>
			</div>
		</div>
		<!-- /.panel -->
	</div>
	<!-- /fragment:content -->

	<!-- center fragment for filtering and submitting -->
	<div th:fragment="control"
		class="col-md-2 col-xs-6 col-xs-offset-3 col-md-offset-0 text-center">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="form-group">
					<label for="tokenCnt">Count</label> <select class="form-control"
						id="tokenCnt" name="countSelect">
						<option>10</option>
						<option
							th:selected="${count != null and count == '20'} ? 'selected'">20</option>
						<option
							th:selected="${count != null and count == '30'} ? 'selected'">30</option>
					</select>
				</div>
				<!-- /.form-group -->

				<div class="checkbox">
					<label> <input type="checkbox" value="true"
						name="compCheck" th:checked="${compilation} ? 'checked'" />Compilations
					</label>
				</div>
				<!-- /.checkbox -->
			</div>
			<!-- /.panel-heading -->
		</div>
		<!-- /.panel -->

		<div class="form-group">
			<button class="btn btn-danger btn-block">
				<span class="glyphicon glyphicon-stats"></span> Analyze
			</button>
		</div>
		<!-- /.form-group -->
	</div>
	<!-- /fragment:control -->

	<!-- selecting of artists -->
	<div th:fragment="artistSelect(pos,previous)"
		class="panel-heading text-center">
		<label for="freqArtists">Artist <span th:text="${pos+1}"></span></label> <select
			class="form-control" id="freqArtists" name="artistSelect">

			<option>(All)</option>

			<optgroup>
				<span th:each="artist : ${artistsList}">
					<option th:text="${artist}"
						th:selected="${previous == artist} ? 'selected'"></option>
				</span>
			</optgroup>
		</select>
	</div>
	<!-- /fragment:artistSelect -->

	<!-- tokens fragment: list of all relevant words -->
	<div th:fragment="tokens(freqs)" class="panel-body">
		<table th:if="${freqs.size() != 0}" class="table table-hover">
			<thead>
				<tr>
					<th colspan="2" class="text-center">Top <span
						th:text="${count}"></span></th>
				</tr>
			</thead>
			<tbody>
				<span th:each="freq : ${freqs}">
					<tr th:each="token : ${freq.value}">
						<td class="col-xs-6 text-right"><a
							th:href="@{/result?fieldForm=lyrics} + '&amp;searchForm=' + ${token} + '&amp;fuzzyForm'"
							th:text="${token}"></a></td>
						<td class="col-xs-6"><span class="badge"
							th:text="${freq.key}"></span></td>
					</tr>
				</span>
			</tbody>
		</table>

		<div th:if="${freqs.size() == 0}" class="text-center">
			<label>Nothing found!</label>
		</div>
	</div>
	<!-- /fragment:tokens -->
</body>

</html>