<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<!-- search form incl. an advanced search (see BrowseController.search();) -->
	<div th:fragment="searchForm">
		<form th:action="@{/result}" class="text-center">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<div class="panel panel-default">	
						<!-- ************** header ************** -->		
						<div class="panel-heading">
							<div class="input-group">
								<!-- search input -->
								<input type="text" class="form-control" placeholder="..." name="searchForm" title="Search"/>
								<!-- submit button -->
								<div class="input-group-btn">
									<button class="btn btn-danger">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</div>
							</div>
							<!-- /.input-group -->
						</div>
						<!-- /.panel-heading -->
						
						<!-- ************** body ************** -->	
						<div id="advanced" class="panel-collapse collapse">
							<div class="panel-body">
								<!-- field -->
								<div class="form-group">
									<label class="radio-inline">
										<input type="radio" name="fieldForm" value="lyrics" checked="checked"/>Lyrics
									</label>
									<label class="radio-inline">
										<input type="radio" name="fieldForm" value="artist"/>Artist
									</label>
									<label class="radio-inline">
										<input type="radio" name="fieldForm" value="title"/>Title
									</label>
									<label class="radio-inline">
										<input type="radio" name="fieldForm" value="release"/>Medium
									</label>
									<label class="radio-inline">
										<input type="radio" name="fieldForm" value="comment"/>Comment
									</label>
								</div>
								<!-- /.form-group -->
								
								<!-- fuzzy -->
								<label class="checkbox-inline"> 
									<input type="checkbox" value="true" name="fuzzyForm" />Fuzzy
								</label> 
								
								<!-- compilations -->
								<label class="checkbox-inline"> 
									<input type="checkbox" value="true" name="compilationForm" />Compilations
								</label>
		
								<!-- hidden checkbox for showing/hiding the search form in Browse and Search -->
								<input type="checkbox" value="true" name="formRequired" checked="checked" style="visibility: hidden" />
							</div>
							<!-- /.panel-body -->
							
							<!-- ************** footer ************** -->
							<!-- years -->
							<div th:replace="../fragments/slider :: slider('')"></div>
							<!-- /.panel-footer -->
						</div>	
						<!-- /.panel-collapse -->
					</div>	
					<!-- /.panel -->
				</div>
				<!-- /.col-*-* -->
			</div>
			<!-- /.row -->
			
			<div class="form-group">
				<a class="a-danger-port" data-toggle="collapse" href="#advanced" title="Advanced search">
					<span id="collapsePanel" class="glyphicon glyphicon-chevron-down"></span>
				</a>
			</div>
			<!-- /.form-group -->
		</form>
	</div>	
	<!-- /fragment:searchForm -->
</body>

</html>