<!-- TODO wip!!!!! -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="searchForm">
		<form th:action="@{/result}">
			<!-- SEARCH-INPUT ********** -->
			<input type="text" class="form-control" name="searchForm" />
			
			<!-- ************************** ADVANCED start ************************** -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" href="#collapse1">advanced</a>
				</div>	
				<!-- /.panel-heading -->
				
				<div id="collapse1" class="panel-collapse collapse">
					<!-- FIELD ********** -->
					<select class="form-control" name="fieldForm">
						<option value="artist">Artist</option>
						<option value="title">Song title</option>
						<option value="release">Medium</option>
						<option value="comment">Comment</option>
						<option selected="selected" value="lyrics">lyrics</option>
					</select> 
					
					<!-- FUZZY ********** -->
					<label class="checkbox-inline"> 
						<input type="checkbox" value="true" name="fuzzyForm" />Fuzzy?
					</label> 
					
					<!-- COMPILATIONS ********** -->
					<label class="checkbox-inline"> 
						<input type="checkbox" value="true" name="compilationForm" />Compilations?
					</label>
					
					<!-- YEARS ********** -->
					<div th:replace="../fragments/freqCol :: slider('')"></div>
					
					<!-- HIDDEN CHECKBOX ********** -->
					<input type="checkbox" value="true" name="formRequired" checked="checked" style="visibility: hidden" />
				</div>	
				<!-- /.panel-collapse -->
			</div>	
			<!-- /.panel -->
			<!-- ************************** ADVANCED end ************************** -->
			
			<!-- SUBMIT-BUTTON ********** -->
			<button class="btn btn-danger">GO</button>
		</form>
	</div>	
	<!-- /fragment:searchForm -->
</body>

</html>