<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="songs(required)" class="panel panel-default">
		<table id="songs" class="table table-hover" width="100%">
			<thead>
				<tr>
					<th rowspan="2">Artist</th>
					<th rowspan="2">Title</th>
					<th colspan="3" class="text-center">Release</th>
				</tr>
				<tr>
					<th>Medium</th>
					<th>Year</th>
					<th>Compilation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="song : ${songs}">
					<td><a th:text="${song.artist}"
						th:href="@{/result?fieldForm=artist} + '&amp;searchForm=' + ${song.artist} + '&amp;formRequired=' + ${required}"></a></td>
					<td><a th:text="${song.title}"
						th:href="@{/browse/} + ${song.uuid}"></a></td>
					<td><a th:text="${song.release}"
						th:href="@{/result?fieldForm=release} + '&amp;searchForm=' + ${song.release} + '&amp;formRequired=' + ${required}"></a></td>
					<td><a th:text="${song.year}"
						th:href="@{/result?searchForm=&amp;fieldForm=lyrics&amp;rangefrom=} + ${song.year} + '&amp;rangeto=' + ${song.year} + '&amp;formRequired=' + ${required}"></a></td>
					<td th:switch="${song.compilation}" class="text-center"><span
						th:case="true" class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<!-- /each:song -->
			</tbody>
		</table>
	</div>
	<!-- /.panel -->
</body>

</html>