<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<!-- song fragment: details of song incl. lyrics -->
	<div th:fragment="song" class="row">
		<div
			class="col-md-5 col-md-push-7 col-sm-8 col-sm-offset-2 col-md-offset-0">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Release</h4>
				</div>

				<div class="panel-body">
					<table class="table-hover">
						<tr
							th:replace="../fragments/title :: releaseRow('Artist', ${song.artist})"></tr>
						<tr
							th:replace="../fragments/title :: releaseRow('Medium', ${song.release})"></tr>
						<tr
							th:replace="../fragments/title :: releaseRow('Year', ${song.year})"></tr>
					</table>
				</div>
				<!-- /.panel-body -->

				<div id="compilationTitle" th:if="${song.compilation}"
					class="panel-footer">
					<table>
						<tr class="row">
							<td class="col-xs-5"><h5>Compilation</h5></td>
							<td class="col-xs-7"><span class="glyphicon glyphicon-ok"></span></td>
						</tr>
					</table>
				</div>
				<!-- /.panel-footer -->
			</div>
			<!-- /.panel -->

			<div th:if="${song.comment != ''}" class="panel panel-default">
				<div class="panel-heading">
					<h4>Comment</h4>
				</div>

				<div class="panel-body">
					<table>
						<tr class="row">
							<td class="col-xs-12"><i><span th:text="${song.comment}"></span>
							</i></td>
						</tr>
					</table>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-md-5 -->
		<div class="col-md-7 col-md-pull-5 col-sm-12">
			<p th:utext="${song.lyricsBR}"></p>
		</div>
		<a
			th:href="@{/analytics/similarlyrics?classifytext=} + ${song.lyrics}">
			<span class="glyphicon glyphicon-search"></span>Find similar songs
		</a>
	</div>
	<!-- /fragment:song -->

	<tr th:fragment="releaseRow(category,content)" class="row">
		<td class="col-xs-5">
			<h5 th:text="${category}"></h5>
		</td>
		<td class="col-xs-7"
			th:with="searchForm='&amp;searchForm=' + ${content}"><a
			th:if="${category == 'Artist'}" th:text="${content}"
			th:href="@{/result?fieldForm=artist} + ${searchForm}"></a> <a
			th:if="${category == 'Medium'}" th:text="${content}"
			th:href="@{/result?fieldForm=release} + ${searchForm}"></a> <a
			th:if="${category == 'Year'}" th:text="${content}"
			th:href="@{/result?fieldForm=lyrics&amp;searchForm=&amp;yearSlider=} + ${content} + '%2C' + ${content}"></a>
		</td>
	</tr>
	<!-- /fragment:releaseRow -->
</body>

</html>