<!-- TODO refactoring -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="select" class="form-group">
		<label for="sel1">Artist</label> <select class="form-control"
			id="sel1" name="artistSelect">
			<!-- TODO order A-Z -->
			<option>(All)</option>
			<option>Bob Dylan</option>
			<option>Britney Spears</option>
			<option>Lady Gaga</option>
			<option>Paul McCartney</option>
			<option>Madonna</option>
			<option>The Beatles</option>
		</select>
	</div>

	<div th:fragment="slider" class="form-group text-center">

		<b>1962</b>&nbsp;&nbsp;&nbsp;<input class="sliderExample" type="text"
			data-slider-min="1962" data-slider-max="2018" name="yearSlider"
			style="width: 75%" />&nbsp;&nbsp;&nbsp;<b>2018</b>

	</div>
</body>

</html>