<!-- TODO refactoring -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="select(lastArtist)" class="panel-heading text-center">
		<label for="sel1">Artist</label> <select class="form-control"
			id="sel1" name="artistSelect">

			<option>(All)</option>
			<optgroup th:each="artist : ${artistsList}">
				<option th:if="${lastArtist} == ${artist}"
					th:text="${artist}" selected="selected"></option>
				<option th:if="${lastArtist} != ${artist}"
					th:text="${artist}"></option>
			</optgroup>
		</select>
	</div>
	
	<div th:fragment="tokens(map)" class="panel-body">
		<table class="table table-hover"> <!-- TODO condensed? -->
			<thead>
				<tr>
					<th colspan="2" class="text-center">Top <span
						th:text="${count}"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="token : ${map}">
					<td class="col-xs-6 text-right">
						<a th:href="@{/result?fieldForm=lyrics} + '&amp;searchForm=' + ${token.key}" th:text="${token.key}"></a>
					</td>
					<td class="col-xs-6"><span class="badge"
						th:text="${token.value}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:fragment="slider(sliderVal)" class="panel-footer text-center">
		<label for="slider">Years</label>
		<div class="row"> 
			<div class="col-xs-2">
				<b th:text="${songYears[0]}"></b>
			</div>
			<div class="col-xs-8">
				<input id="slider" th:if="${sliderVal != ''}" class="sliderExample" type="text" name="yearSlider" th:attr="data-slider-min=${songYears[0]},data-slider-max=${songYears[1]},data-slider-value='['+ ${sliderVal} + ']'" 
					style="width: 100%" />
				<input id="slider" th:if="${sliderVal == ''}" class="sliderExample" type="text" name="yearSlider" th:attr="data-slider-min=${songYears[0]},data-slider-max=${songYears[1]}" 
					style="width: 100%" />
			</div> 
			<div class="col-xs-2">
				<b th:text="${songYears[1]}"></b>
			</div>
		</div>
	</div>
</body>

</html>