<!-- TODO refactoring -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<div th:fragment="column(val)" class="col-md-5">
		<div class="panel panel-default">
			<div th:if="${artists != null}">
				<div th:replace="../fragments/tmp :: select(${artists[val]})"></div>
				<div th:replace="../fragments/tmp :: tokens(${mapList[val]})"></div>
				<div th:replace="../fragments/tmp :: slider(${years[val]})"></div>
			</div>
			<div th:if="${artists == null}">
				<div th:replace="../fragments/tmp :: select('')"></div>
				<div th:replace="../fragments/tmp :: slider('')"></div>
			</div>
		</div>
	</div>
	<!-- /column -->

	<div th:fragment="select(lastArtist)" class="panel-heading text-center">
		<label for="sel1">Artist</label> <select class="form-control"
			id="sel1" name="artistSelect">

			<option>(All)</option>
			<optgroup th:each="artist : ${artistsList}">
				<option th:text="${artist}"
					th:selected="${lastArtist == artist} ? 'selected'"></option>
			</optgroup>
		</select>
	</div>
	<!-- /select -->

	<div th:fragment="tokens(map)" class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th colspan="2" class="text-center">Top <span
						th:text="${count}"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="token : ${map}">
					<td class="col-xs-6 text-right"><a
						th:href="@{/result?fieldForm=lyrics} + '&amp;searchForm=' + ${token.key}"
						th:text="${token.key}"></a></td>
					<td class="col-xs-6"><span class="badge"
						th:text="${token.value}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- /tokens -->

	<div th:fragment="slider(sliderVal)" class="panel-footer text-center">
		<label for="slider">Years</label>
		<div class="row">
			<div class="col-xs-2">
				<b th:text="${songYears[0]}"></b>
			</div>
			<div class="col-xs-8">
				<input id="slider" class="sliderExample" type="text"
					name="yearSlider"
					th:attr="data-slider-min=${songYears[0]},data-slider-max=${songYears[1]},data-slider-value=${sliderVal != '' ? '[' + sliderVal + ']' : null}"
					style="width: 100%" />
			</div>
			<div class="col-xs-2">
				<b th:text="${songYears[1]}"></b>
			</div>
		</div>
	</div>
	<!-- /slider -->
</body>

</html>