html {
	position: relative;
	min-height: 100%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

footer .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

footer a, footer a:hover, footer a:focus, footer a:active {
	color: #333333;	
}

.btn-main, .btn-main:hover, .btn-main:focus, .btn-main:active {
	color: #fff;
}

.btn-main {
	background-color: #F55858;
	border-color: #C74848;
}

.btn-main:hover, .btn-main:focus {
    background-color: #C74848;
	border-color: #AF3F3F;
}

.btn-main:active {
    background-color: #AF3F3F;
    border-color: #742A2A;
}

/*
.col-md-9 {
	background-color: yellow;		
}

.col-md-3 {
	background-color: red;		
}
*/