html {
	position: relative;
	min-height: 100%;
}

.dropdown-menu > .active > a {
	background: #d9534f !important;	/* bootstrap btn-danger */
}

#pageFooter {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

/* TODO check */
#pageFooter .container {
	font-size: smaller;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* TODO classes */
.col-xs-3 a, #tmp, .col-md-5 a, .panel-heading a {
	color: #333333;	
}
.col-xs-3 a:hover, #tmp:hover, .col-md-5 a:hover, .panel-heading a:hover {
	color: #23527c;
	text-decoration: none;
}

tr:hover {
  cursor: pointer;
}

/* TODO */
@media(max-width:583px){
	.col-xs-3 {
		position: relative;
		transform: translateY(50%);
	}
}