<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:with="title='About'">

<head th:replace="../fragments/core/header :: header(${title})"></head>

<body>
	<nav
		th:replace="../fragments/core/navbar :: navbar(${#strings.unCapitalize(title)})"></nav>

	<div class="container">
		<div th:replace="../fragments/core/heading :: heading(${title},'')"></div>

		<p>
			<span>This application is made for an course at the</span>
			<a href="http://www.uni-koeln.de">University of Cologne</a>.
		</p>
		<p>
			<b>Authors:</b>
			<a href="mailto:binnewij@smail.uni-koeln.de?subject=lyra">Johanna Binnewitt</a>, 
			<a href="mailto:skrause1@smail.uni-koeln.de?subject=lyra">Stefan Krause</a>, 
			<a href="mailto:Pseipel@smail.uni-koeln.de?subject=lyra">Peter Seipel</a>.
		</p>
	</div>
	
	<footer th:replace="../fragments/core/footer"></footer>
</body>

</html>