<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Albums'">

<head th:replace="../fragments/header :: header(${title})"></head>

<body>
	<nav th:replace="../fragments/navbar :: navbar(${#strings.unCapitalize(title)})"></nav>

	<div class="container">
		<h1 th:text="${title}"></h1>
		
		<tr th:each="album : ${albums}">
			<h3 th:text="${album.getId()}"></h3><br/>
			<b>title: </b><td th:text="${album.getTitle()}"></td><br/>
			<b>ref: </b><a th:href="${album.getURL()}"><td th:text="${album.getURL()}"></td></a><br/>
			<b>year: </b><td th:text="${album.getYear()}"></td><br/>
			<b>tracklist: </b>
			<td>
				<ul th:each="track : ${album.getTracklist()}">
					<li>
						<span th:text="${track.getId()}"></span>: 
						<span th:text="${track.getValue()}"></span>
					</li>
				</ul>
			</td>
			<hr/>
		</tr>
	</div>

	<footer th:replace="../fragments/footer :: footer"></footer>
	<div th:replace="../fragments/scripts :: scripts"></div>
</body>

</html>