<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Artists'">

<head th:replace="../fragments/header :: header(${title})"></head>

<body>
	<nav th:replace="../fragments/navbar :: navbar(${#strings.unCapitalize(title)})"></nav>

	<div class="container">
		<h1 th:text="${title}"></h1>
		
		<!-- TODO condensed? -->
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Artist</th>
					<th>Songs</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Bob Dylan</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Britney Spears</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Lady Gaga</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Neil Young</td>
					<td>1</td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer th:replace="../fragments/footer :: footer"></footer>
	<div th:replace="../fragments/scripts :: scripts"></div>
</body>

</html>