<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../fragments/core/header :: header(${title})"></head>

<body th:with="webjars='/webjars/datatables/js/'">
	<script th:src="@{${webjars} + 'jquery.dataTables.min.js'}"></script>
	<script th:src="@{${webjars} + 'dataTables.bootstrap.min.js'}"></script>

	<script type="text/javascript" th:src="@{/js/browse.js}"></script>

	<nav
		th:replace="../fragments/core/navbar :: navbar(${#strings.unCapitalize(title)})"></nav>

	<div class="container">
		<div th:if="${title == 'Browse'}">
			<div th:if="${search != null}" th:with="small='&raquo; ' + ${search}">
				<div
					th:replace="../fragments/core/heading :: heading(${title},${small})"></div>
			</div>
			<div th:if="${search == null}">
				<div th:replace="../fragments/core/heading :: heading(${title},'')"></div>
			</div>
			<div th:replace="../fragments/songs :: songs(false)"></div>
		</div>
		<div th:if="${title == 'Result'}">
			<div th:replace="../fragments/core/heading :: heading(${title},'')"></div>
			<div th:replace="../fragments/searchForm"></div>
			<div th:replace="../fragments/songs :: songs(true)"></div>
		</div>
	</div>

	<footer th:replace="../fragments/core/footer"></footer>
</body>

</html>