<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:with="title='Browse'">

<head th:replace="../fragments/core/header :: header(${title})"></head>

<body th:with="webjars='/webjars/datatables/js/'">
	<script th:src="@{${webjars} + 'jquery.dataTables.min.js'}"></script>
	<script th:src="@{${webjars} + 'dataTables.bootstrap.min.js'}"></script>

	<script type="text/javascript" th:src="@{/js/browse.js}"></script>

	<nav
		th:replace="../fragments/core/navbar :: navbar(${#strings.unCapitalize(title)})"></nav>

	<div class="container">
		<div th:replace="../fragments/core/heading :: heading(${title},'')"></div>
		<div th:replace="../fragments/songs :: songs(${songs})"></div>
	</div>

	<footer th:replace="../fragments/core/footer"></footer>
</body>

</html>