<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:with="title='Frequencies'">

<head th:replace="../fragments/core/header :: header(${title})"></head>

<body>
	<script th:src="@{/webjars/bootstrap-slider/bootstrap-slider.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/frequencies.js}"></script>

	<nav
		th:replace="../fragments/core/navbar :: navbar(${#strings.unCapitalize(title)})"></nav>

	<div class="container">
		<div th:replace="../fragments/core/heading :: heading(${title},'')"></div>

		<form th:action="@{/analytics/frequencies}" method="post">
			<div class="row">
				<div th:replace="../fragments/freqCol :: content(0)"></div>
				<div th:replace="../fragments/freqCol :: control"></div>
				<div th:replace="../fragments/freqCol :: content(1)"></div>
			</div>
			<!-- /.row -->
		</form>
	</div>
	<!-- /.container -->

	<footer th:replace="../fragments/core/footer"></footer>
</body>

</html>