<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:with="title='Home'">

<head th:replace="../fragments/core/header :: header(${title})"></head>

<body>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>

	<div th:replace="../fragments/index/evaluation"></div>

	<nav th:replace="../fragments/core/navbar :: navbar('')"></nav>
	<div th:replace="../fragments/index/text :: jumbotron"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div th:replace="../fragments/index/text :: instructions"></div>
				<div th:replace="../fragments/index/stock"></div>
			</div>
			<!-- /.col-md-7 -->

			<div class="col-md-5 noLine">
				<h3>Input</h3>
				<hr />
				<form id="upload-file-form">
					<label class="btn btn-danger btn-block" for="upload-file-input">
						<input id="upload-file-input" type="file" name="uploadfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
						class="glyphicon glyphicon-upload"></span> Upload lyrics
					</label>
				</form>

				<div th:replace="../fragments/index/text :: quotes"></div>
			</div>
			<!-- /.col-md-5 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

	<footer th:replace="../fragments/core/footer"></footer>
</body>

</html>