<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:with="title='Home'">

<head th:replace="../fragments/core/header :: header(${title})"></head>

<body>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>

	<!-- TODO deprecated -->
	<div th:replace="../fragments/index/evaluation :: upload"></div>
	<div th:replace="../fragments/index/evaluation :: evaluation"></div>

	<nav th:replace="../fragments/core/navbar :: navbar('')"></nav>
	<div th:replace="../fragments/index/text :: jumbotron"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div th:replace="../fragments/index/text :: instructions"></div>
				<div th:replace="../fragments/index/stock"></div>
			</div>
			<!-- /.col-md-7 -->

			<div class="col-md-5 noLine">
				<h3>Input</h3>
				<hr />
				<a th:href="@{/info}" class="btn btn-danger btn-block" role="button">
					<span class="glyphicon glyphicon-upload"></span> Upload lyrics
				</a>

				<div th:replace="../fragments/index/text :: quotes"></div>
			</div>
			<!-- /.col-md-5 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

	<footer th:replace="../fragments/core/footer"></footer>
</body>

</html>