<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Places'">

<head th:replace="../fragments/header :: header(${title})"></head>

<body>
	<nav th:replace="../fragments/navbar :: navbar(${#strings.unCapitalize(title)})"></nav>

	<div th:replace="../fragments/scripts :: scripts"></div>
	<div id="mapid" style='width: 100%; height: 800px;'></div>
	<script th:inline="javascript">
	
		var mymap = L.map('mapid').setView([ 51.505, -0.09 ], 13);
		L.tileLayer(
						'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
						{
							attribution : 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
							maxZoom : 18,
							id : 'mapbox.streets',
							accessToken : 'pk.eyJ1IjoicHNlaXBlbCIsImEiOiJjamJxaXdnb3MwNHBkMzJyNjQ1c3F1eHd3In0.XeYHykHhoy2uuXv0GqD6Og'
						}).addTo(mymap);
		/*<![CDATA[*/
			var places = /*[[${places}]]*/;
			for (i = 0; i < places.length; i++) {
				var marker = L
				.marker([places[i].longitude, places[i].latitude])
				.addTo(mymap);
				var place = places[i];
				var tabs = buildTabs(place);
				var content = buildPopUpContent(place);
				marker.bindPopup(
						tabs + content
					);
			} 
			
			function buildTabs(place){
				if(place.texts.length == 1){
					return "";
				}
				var tabs = "<div class='tab'>";
				for(j = 0; j < place.texts.length; j++){
					if (j == 0) {
						active = " active";
					}else{
						active = "";
					}
					tabs += "<button class=\"tablinks " + active + "\" onclick=\"openPopUpContent(event, '" + place.placeName[0] + j
					+ "')\">" + (j + 1) + "</button>"
				}
				tabs += "</div>";
				return tabs;
			}
			
			function buildPopUpContent(place) {
				var content = "";
				var active = "";
				var currentPlaceName = place.placeName[0];
				for (k = 0; k < place.texts.length; k++){
					if (k == 0) {
						active = " active\" style=\"display: block;";
					}else{
						active = "";
					}
					if(place.placeName[k]){
						currentPlaceName = place.placeName[k];
					}
					
					content += "<div class=\"tabcontent" + active + "\" id=\"" + place.placeName[0] + k + "\">"
					+ "<h3>"
					+ currentPlaceName
					+ "</h3>"
					+ "<p>" + place.texts[k] + "</p>"
					+ "</div>"
				}
				return content;
			}
		
		function openPopUpContent(evt, index) {
		    var i, tabcontent, tablinks;
		    tabcontent = document.getElementsByClassName("tabcontent");
		    for (i = 0; i < tabcontent.length; i++) {
		        tabcontent[i].style.display = "none";
		    }
		    tablinks = document.getElementsByClassName("tablinks");
		    for (i = 0; i < tablinks.length; i++) {
		        tablinks[i].className = tablinks[i].className.replace(" active", "");
		    }
		    document.getElementById(index).style.display = "block";
		    evt.currentTarget.className += " active";
		}
		/*]]>*/
	</script>

	<footer th:replace="../fragments/footer :: footer"></footer>
</body>

</html>