<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:with="title='Search'">

<head th:replace="../fragments/header :: header(${title})"></head>

<body>
	<div th:replace="../fragments/scripts :: scripts"></div>
	<nav
		th:replace="../fragments/navbar :: navbar(${#strings.unCapitalize(title)})"></nav>

	<div class="container">
		<h1 th:text="${title}"></h1>
		<!-- TODO tmp -->
		<form action="/result">
			<input type="text" name="searchForm" />
		</form>
	</div>
	<footer th:replace="../fragments/footer :: footer"></footer>
</body>

</html>