<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../fragments/core/header :: header(${song.title})"></head>

<body>
	<nav
		th:replace="../fragments/core/navbar :: navbar(${#strings.unCapitalize('Browse')})"></nav>

	<div class="container">
		<div
			th:replace="../fragments/core/heading :: heading(${song.title},${song.artist})"></div>
		<div th:replace="../fragments/title :: song"></div>
	</div>
	
	<footer th:replace="../fragments/core/footer"></footer>
</body>

</html>